
@import url("https://fonts.googleapis.com/css?family=Montserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;ver=5.3.2#038;subset=latin,latin-ext");


.Calculator {
    background-color: rgba(73,171,165,0.11);
    font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
    width: 80%;
    line-height: 1.7em;
    font-weight: 500;

    legend {
        color: #49aba5;
        font-size: 30px;
    }


    & select, input {
        padding: 2px 12px 2px 2px;
        background-color: #fff;
        border: 1px solid #bbb;
        color: #4e4e4e;
        width: 80%;
    }

    input {
        width: 120px;

        &[type='checkbox']{
            width: 20px;
            margin-right: 10px;
        }
    }
}


.Button {
    height: 46px;
    width: 262px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(255, 200, 57);
    color: rgb(6, 54, 156);
    border-width: 0px !important;
    text-transform: uppercase !important;

    &:hover {
        background-color: rgba(234, 70, 0, 0.84);

    }
}




.FlexContainer {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-around;


}

.FlexRow {
    display: -webkit-flex;
    display: flex;

    flex-direction: row;
    -webkit-flex-direction: row;
}

.FlexColumn {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.FlexCell {
    width: 700px;
    margin: 10px;
    padding: 0;
}

.HeaderResult {
    text-align: center;
    background-color: rgba(255,200,57,0.12);
    padding: 54px 0;
    h2 {
        font-weight: bold;
        color: #49aba5;
    }
    & > p {
        font-weight: 500;
        font-size: 16px;
        line-height: 27.2px;
    }

}

.HeaderResultMixin {
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    display: flex;
    direction: ltr;
    max-width: 100%;
    width: 95%;
    background-color: rgba(255,200,57,0.48);
    text-align: center;
    position: relative;
    text-align: left;

    &  h3 {
        font-size: 18px;
        color: #05297a !important;
        font-weight: bold;
        font-style: normal;
        text-transform: none;
        text-decoration: none;
    }

}



.HeaderResultFirstRow {

    background-color: rgba(255,200,57,0.48);
}

.HeaderResultSecondRow {
    background-color: rgba(255,255,255,0.48);
}



.ResultCell {
    order:1;
    -webkit-box-ordinal-group:2;
    width: 17.6%;
    margin-right: 3%;
}
