.Calendar {

    margin: 10px;

}
.Row {
    display: flex;
    direction: row;
}

.Required {
  color: #790000;
  margin-left: 4px;
}

.Title {
  display: block;
  color: #303030;
  font-weight: 700;
  font-size: inherit;
  margin-bottom: 10px;

}
