
.Title {
    display: block;
    color: #303030;
    font-weight: 700;
    font-size: inherit;
    margin-bottom: 10px;

}

.Input {
        width: 700px;
        margin: 10px;
        padding: 0;

    &  select {
        padding: 2px 12px 2px 2px;
        background-color: #fff;
        border: 1px solid #bbb;
        color: #4e4e4e;
        width: 80%;
    }
}

.Required {
    color: #790000;
    margin-left: 4px;
}
