.MonthResult {
  margin-bottom: 1.5%;
  width: 90%;
  background-color: rgb(255, 255, 255);
  padding: 0 0 0 20px;
  cursor: pointer;
  border: 1px solid #d9d9d9;

  &:hover {
    background-color: rgba(200, 200, 200, 0.1);
  }

  & h5 {
    font-size: 16px;
    height: 16px;
  }

  td {
    border-top: 1px solid #eee;
    padding: 6px 24px;
  }

  table {
    border: 1px solid #eee;
    margin: 0 0 15px;
    text-align: left;
    width: 95%;
    border-collapse: collapse;
    border-spacing: 0;
  }
}
.Content {
  padding-top: 20px;
  position: relative;
}

.Title {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;

   & div {
     background-color: rgba(200, 200,200, 0.6);
     color: rgba(250, 250, 250, 1);
     text-align: center;
     margin: 20px 10px 15px auto;
     font-size: 32px;
     border-radius: 20px;
     max-height: 30px;
     width: 30px;
   }
}